<p>Pour accéder à vos données Spotify, veuillez renseigner les données suivantes.</p>
<p>Pour plus d'infos, <a href="https://developer.spotify.com/documentation/web-api/concepts/apps">voir l'API Spotify</a></p>

<form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
  <div class="form-floating mb-2">
    <input id="client_id" formControlName="client_id" name="client_id" type="text" class="form-control" placeholder="Client_Id"/>
    <label for="client_id">Client_Id</label>
  </div>
  <div class="form-floating mb-2">
    <input id="client_secret" formControlName="client_secret" name="client_secret" type="password" class="form-control" placeholder="Client_Secret"/>
    <label for="client_secret">Client_Secret</label>
  </div>
  <input type="submit" class="btn btn-primary w-100 py-2" value="Enregistrer" >
</form>
