<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">{{ username ? username + '\'App' : 'Angular App' }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/music" routerLinkActive="active">Music</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/chat" routerLinkActive="active">Mistral</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Apps</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Garmin</a>
        </li>
      </ul>
      <div class="d-flex">
        <button *ngIf="!isAuthenticated" (click)="login()" class="btn btn-outline-primary">Login</button>
        <button *ngIf="isAuthenticated" (click)="logout()" class="btn btn-outline-primary">Logout</button>
      </div>
    </div>
  </div>
</nav>


