<div class="row">
  <div class="col-md-12">
    <div #messagesDiv class="bg-light border border-secondary rounded h-auto overflow-auto">
      <!--      <p *ngIf="tmp$ | async as result">{{result}}</p>-->
      <div class="row">
        <div class="offset-8 col-4">
          <app-message-card *ngFor="let message of messages" [message]="message"></app-message-card>
        </div>
      </div>
    </div>
    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="input-group mb-3">
        <input name="message" required ngModel type="text" class="form-control" placeholder="Chat with Mistral">
        <div class="input-group-append">
          <button type="submit" class="btn btn-outline-secondary" [disabled]="!f.valid">Send <i class="bi bi-send"></i></button>
        </div>
      </div>
    </form>
  </div>
</div>

